.Todo {
  background: var(--dark3);
  margin: 15px;
  border-radius: 2px;
  box-shadow: 0 0 3px #555;
  padding: 5px 10px;
  position: relative;
}

.Todo > h1 {
  margin: 0 5px;
  font-size: 24px;
}

.Todo .priority-text {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px;
  color: var(--gray0);
  font-size: 12px;
  padding: 0 2px;
}

.Todo .edit-btn {
  bottom: 0;
  margin: 2px;
}
