.SignIn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SignIn .center-box {
  background: #ddd;
  border-radius: 5px;
  padding: 20px 40px;
  box-shadow: 0 0 3px #333;
  text-align: center;
}

.SignIn img {
  height: 60px;
  margin: -5px 0;
}

.SignIn h1 {
  margin: 0;
}

.SignIn hr {
  margin: 5px 0 10px 0;
}

.SignIn h2 {
  margin: 0 0 10px 0;
}

.SignIn form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignIn form input {
  display: block;
}

.SignIn label {
  margin-top: 5px;
  font-size: 12px;
}

.SignIn label:first-of-type {
  margin-top: 0;
}

.SignIn form button {
  margin-top: 10px;
}

.SignIn .error-text {
  margin: 10px 0 0 0;
}

.SignIn .bottom-hr {
  margin: 15px 0;
}
