.Video {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.Video > h1 {
  width: fit-content;
  margin: 10px auto;
  border-bottom: 1px solid var(--gray0);
}

.Video button {
  padding: 5px;
  margin: 5px;
}

.Video .video-grid video {
  background: #fff;
  width: 200px;
  height: 150px;
  margin: 5px;
  border-radius: 5px;
}

.Video .audio-grid video {
  background: #fff;
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 5px;
}
