.Chat {
  height: 100%;
  width: 450px;
  background: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Chat .chat-header {
  background: #bbb;
  text-align: center;
}

.Chat .chat-header h1 {
  margin: 10px 0;
}

.Chat .message-list {
  overflow: scroll;
  padding-bottom: 10px;
}

.Chat .message-header {
  margin: 10px;
}

.Chat .sender-name {
  margin-right: 5px;
  font-weight: bold;
}

.Chat .timestamp {
  color: #555;
  font-size: 12px;
}

.Chat .info-text {
  margin: 0 10px;
  padding: 2px;
}

.Chat .message-text {
  margin: 0 10px;
  padding: 2px;
  border-radius: 2px;
}

.Chat .message-text:hover {
  background: #ccc;
}

.Chat .edited-text {
  margin-left: 5px;
  font-size: 12px;
  color: #555;
}

.Chat .edit-button {
  margin: 0;
  padding: 0;
  height: 20px;
  float: right;
  background: transparent;
  border: 0;
  height: fit-content;
  border-radius: 10px;
}

.Chat .edit-button:hover {
  background: #aaa;
}

.Chat .edit-icon {
  height: 15px;
}

.Chat form {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  background: #bbb;
}

.Chat form button {
  height: 30px;
}

.Chat input {
  min-width: 0;
  flex-grow: 1;
  border: 0;
  margin-right: 10px;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  height: 20px;
}
