.Chat {
  height: 100%;
  min-height: 360px;
  min-width: 276px;
  width: 50%;
  background: #2f3136;
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Chat .chat-header {
  background: #bbb;
  height: 60px;
  text-align: center;
}

.Chat .chat-header h1 {
  margin: 11px 0;
}

.Chat .message-list {
  overflow: auto;
  padding: 5px 5px 15px 5px;
}

.Chat .message-header {
  margin: 10px;
}

.Chat .sender-name {
  margin-right: 5px;
  color: #fff;
  font-weight: bold;
}

.Chat .timestamp {
  color: #777;
  font-size: 12px;
}

.Chat .info-text {
  margin: 0 10px;
  padding: 2px;
}

.Chat .message-image {
  max-width: 100%;
  margin-bottom: -3px;
  border-radius: 2px;
}

.Chat .message-text {
  margin: 0 10px;
  padding: 2px;
  border-radius: 2px;
  position: relative;
  white-space: pre-line;
}

.Chat .message-text:hover {
  background: #282a2e;
}

.Chat .markdown-text {
  display: inline-block;
}

.Chat .markdown-text * {
  padding: 0;
  margin: 0;
}

.Chat .edited-text {
  margin-left: 5px;
  font-size: 12px;
  color: #777;
}

.Chat a {
  color: #2196f3;
}

.Chat .edit-btn {
  top: 0;
  margin: 3px;
}

.Chat form {
  display: flex;
  align-items: flex-end;
  align-items: center;
  padding: 10px;
  background: #202225;
}

.Chat form button {
  height: 30px;
}

.Chat .upload-button {
  cursor: pointer;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Chat .file-input {
  display: none;
}

.Chat .text-input {
  min-width: 0;
  flex-grow: 1;
  border: 0;
  margin: 0 10px;
  outline: none;
  padding: 6px 5px 4px 5px;
  border-radius: 5px;
  height: 20px;
  background: #36393f;
  color: #ddd;
}

.Chat .send-button {
  padding: 3px;
}
