.Sketch {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.Sketch > h1 {
  width: fit-content;
  margin: 10px auto 0 auto;
  border-bottom: 1px solid white;
}

.Sketch canvas {
  background: #fff;
  margin-top: 10px;
  border: 2px solid black;
}

.Sketch .indicator-container {
  background: #fff;
  width: 20px;
  height: 20px;
  margin: 0 auto 3px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Sketch .line-indicator {
  border-radius: 50%;
}

.Sketch .line-indicator.white-selected {
  border: 1px solid black;
  max-height: 18px;
  max-width: 18px;
}

.Sketch .sketch-settings {
  margin-top: 10px;
}

.Sketch .sketch-settings p {
  margin: 0;
}

.Sketch .special-buttons {
  display: flex;
  justify-content: center;
  margin: 3px 0 10px 0;
}

.Sketch .color-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.Sketch .color-button {
  border: 0;
  height: 20px;
  width: 20px;
}

.Sketch .color-button.selected {
  border: 2px solid white;
}

.Sketch .color-button.white-selected {
  border: 2px solid black;
}

.Sketch .canvas-button {
  margin-right: 5px;
  padding: 3px 3px 0 3px;
  margin-bottom: 10px;
}

.Sketch .canvas-button.disabled {
  color: #282a2e;
}

.Sketch .canvas-button:last-of-type {
  margin-right: 0;
}
