.Sketch {
  background: #bbb;
  height: 100%;
  min-width: 276px;
  text-align: center;
  overflow: auto;
}

.Sketch h1 {
  margin: 10px 0 0 0;
}

.Sketch canvas {
  background: #fff;
  margin-top: 10px;
  border: 2px solid black;
}

.Sketch .sketch-settings {
  margin-top: 10px;
}

.Sketch .sketch-settings p {
  margin: 0;
}

.Sketch .special-buttons {
  display: flex;
  justify-content: center;
  margin: 3px 0 10px 0;
}

.Sketch .color-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.Sketch .color-button {
  border: 0;
  height: 20px;
  width: 20px;
}

.Sketch .color-button.selected {
  border: 2px solid white;
}

.Sketch .color-button.white-selected {
  border: 2px solid black;
}

.Sketch .canvas-button {
  margin-right: 5px;
  padding: 1px 3px 0 3px;
  margin-bottom: 10px;
}

.Sketch .canvas-button:last-of-type {
  margin-right: 0;
}
