.GitHub {
  background: #ddd;
  min-width: 256px;
  width: 256px;
  text-align: center;
  overflow: auto;
  padding: 0 10px;
}

.GitHub > h1 {
  margin: 10px 0;
}

.GitHub input {
  width: 60px;
  margin: 0 2px;
}

.GitHub .search-button {
  margin: 10px 0;
}

.GitHub .error-text {
  color: red;
}

.GitHub .repo-data {
  background: #efefef;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 0 2px #333;
}
