.Notes {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Notes h1 {
  width: fit-content;
  margin: 10px auto;
  border-bottom: 1px solid var(--gray0);
}

.Notes textarea {
  flex-grow: 1;
  min-height: 256px;
  margin: 0 20px 20px 20px;
  border: 1px solid var(--dark0);
  border-radius: 5px;
  outline: none;
  padding: 5px;
  background: var(--dark4);
  color: var(--gray0);
}
