.popup-content {
  background: var(--dark1)!important;
  border: 1px solid var(--dark4)!important;
  color: var(--gray0);
  border-radius: 5px;
  width: fit-content!important;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
.popup-arrow {
  color: var(--dark1)!important;
  stroke: var(--dark4)!important;
}
.modal {
  padding: 10px 15px 15px 15px;
  text-align: center;
  max-width: 300px;
}
.modal > .header {
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal > .header > span {
  white-space: nowrap;
}
.modal > .header > span.shrink {
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal > .content {
  padding: 10px 5px;
}
.modal > .close {
  position: absolute;
  width: 26px;
  height: 26px;
  display: block;
  padding: 0 0 5px 0;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: var(--dark1);
  border-radius: 18px;
  border: 1px solid var(--dark0);
  outline: none;
}
.modal .delete-text {
  margin: 5px 0;
  color: red;
}
.modal hr {
  border: 1px solid gray;
  border-bottom: 0;
}
.modal label {
  font-size: 12px;
  margin: 5px 0 0 0!important;
}
.modal label:first-of-type {
  margin: 0!important;
}
.modal input, .modal textarea {
  border: 0;
  padding: 2px 3px;
  border-radius: 3px;
  outline: none;
  background: var(--dark3);
  color: var(--gray0);
}
.modal button {
  background: var(--dark0);
  padding: 3px;
  border: 0;
  border-radius: 5px;
  color: var(--gray0);
}
.modal button:hover {
  background: var(--dark2);
}
.modal button svg {
  margin-bottom: -3px;
}
.modal .delete-btn {
  background: var(--red0);
  color: var(--dark0);
}
.modal .delete-btn:hover {
  background: var(--red1);
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
