.popup-content {
  background: #282a2e!important;
  border: 1px solid #202225!important;
  color: #ddd;
  border-radius: 5px;
  width: fit-content!important;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
.modal {
  padding: 10px 15px 15px 15px;
  text-align: center;
}
.modal > .header {
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  padding: 10px 5px;
}
.modal > .close {
  position: absolute;
  width: 26px;
  height: 26px;
  display: block;
  padding: 0 0 5px 0;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #282a2e;
  border-radius: 18px;
  border: 1px solid #202225;
  outline: none;
}
.modal .delete-text {
  color: red;
  margin: 0 0 5px 0;
}
.modal hr {
  border: 1px solid gray;
  border-bottom: 0;
}
.modal label {
  font-size: 12px;
  margin: 5px 0 0 0!important;
}
.modal label:first-of-type {
  margin: 0!important;
}
.modal input, .modal textarea {
  border: 0;
  padding: 2px 3px;
  border-radius: 3px;
  outline: none;
  background: #36393f;
  color: #ddd;
}
.modal button {
  background: #202225;
  padding: 3px;
  border: 0;
  border-radius: 5px;
  color: #ddd;
}
.modal button:hover {
  background: #2f3136;
}
.modal button svg {
  margin-bottom: -3px;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
