* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  word-break: break-word;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

a {
  color: var(--blue0);
}

a:hover {
  color: var(--blue1);
}

.flex-grow {
  flex-grow: 1;
}

.error-text {
  color: red;
}

.clean-btn {
  border: 0;
  border-radius: 2px;
  background: var(--dark3);
  color: var(--gray0);
}
.clean-btn:hover { background: var(--dark2); }
.clean-btn.var2 { background: var(--dark4); }
.clean-btn.var2:hover { background: var(--dark3); }
.clean-btn.var3 { background: var(--dark1); }
.clean-btn.var3:hover { background: var(--dark0); }

.edit-btn {
  position: absolute;
  right: 0;
  height: 16px;
  width: 16px;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 4px;
}

.edit-btn:hover {
  background: var(--dark0);
}

.edit-btn svg {
  height: 16px;
  width: 16px;
  color: var(--gray0);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: var(--dark0);
}

::-webkit-scrollbar-thumb {
  background: var(--gray0);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray1);
}

.center-box {
  background: var(--dark1);
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0 0 3px #333;
  text-align: center;
  margin: 40px 0;
}

.center-box img {
  height: 60px;
  margin: -5px 0;
  cursor: pointer;
  transition: 0.25s;
}

.center-box img:hover {
  transform: scale(1.1) rotate(-10deg);
}

.center-box h1 {
  margin: 0;
}

.center-box hr {
  margin: 5px 0 10px 0;
}
