* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  word-break: break-word;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.flex-grow {
  flex-grow: 1;
}

.error-text {
  color: red;
}

.clean-btn {
  border: 0;
  border-radius: 2px;
  background: var(--dark3);
  color: var(--gray0);
}
.clean-btn:hover {
  background: var(--dark2);
}
.clean-btn2 {
  border: 0;
  border-radius: 2px;
  background: var(--dark4);
  color: var(--gray0);
}
.clean-btn2:hover {
  background: var(--dark3);
}

.edit-btn {
  position: absolute;
  right: 0;
  height: 16px;
  width: 16px;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 4px;
}

.edit-btn:hover {
  background: var(--dark0);
}

.edit-btn svg {
  height: 16px;
  width: 16px;
  color: var(--gray0);
}

::-webkit-scrollbar {
  width: 5px;
  background: var(--dark0);
}

::-webkit-scrollbar-thumb {
  background: var(--gray0);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray1);
}
