.Groups {
  min-width: 80px;
  max-width: 80px;
  background: var(--dark0);
  border-right: 1px solid var(--dark4);
  overflow: auto;
}

.Groups .group-btn {
  margin: 10px auto;
  width: 60px;
  height: 60px;
  background: var(--dark4);
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--gray0);
  overflow: hidden;
  outline: none;
  font-size: 24px;
}

.Groups .group-btn:hover {
  background: var(--dark3);
  transform: scale(1.04);
}

.Groups .group-btn.selected {
  border: 2px solid var(--gray0);
}
