.Stream {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.Stream > h1 {
  width: fit-content;
  margin: 10px auto;
  border-bottom: 1px solid var(--gray0);
}

.Stream button {
  padding: 5px;
  margin: 5px;
}

.Stream .loading-text {
  margin: 5px;
  color: var(--gray0);
}

.Stream .video-grid, .Stream .audio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Stream .video-grid > div {
  margin: 0 10px;
}

.Stream .video-grid video {
  background: black;
  height: 200px;
  display: block;
  border-radius: 10px;
  border: 2px solid var(--dark0);
}

.Stream .video-grid p {
  font-size: 24px;
  margin: 0 0 2px 0;
  color: var(--gray0);
}

.Stream .audio-grid > div {
  width: fit-content;
  position: relative;
  overflow: hidden;
  margin: 5px;
}

.Stream .audio-grid video {
  background: var(--dark0);
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  border: 2px solid var(--dark1);
}

.Stream .audio-grid p {
  font-size: 12px;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--gray0);
}

.Stream video.active {
  border: 2px solid var(--blue0);
}
