.Goal {
  background: #efefef;
  margin: 20px;
  overflow: auto;
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
  box-shadow: 0 0 3px #555;
  position: relative;
}

.Goal > h1 {
  margin: 0;
  font-size: 28px;
}

.Goal .end-date {
  font-size: 14px;
  margin: 0;
}

.Goal .time-left {
  font-size: 24px;
  margin: 0 0 5px 0;
}

.Goal .overdue-text {
  color: red;
}

.Goal .time-icon {
  font-size: 14px;
}

.Goal .delete-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 5px;
  height: 16px;
  width: 16px;
}

.Goal .check-icon {
  width: 16px;
  height: 16px;
  position: relative;
  left: -2px;
  bottom: 1px;
}

.Goal .edit-icon {
  width: 16px;
  height: 16px;
  position: relative;
  right: 2px;
  bottom: 2px;
}
