.Header {
  min-height: 60px;
  border-bottom: 1px solid var(--dark4);
  background: var(--dark0);
  display: flex;
  align-items: center;
}

.Header h1 {
  margin: 0 10px;
}

.Header .logo-img {
  height: 50px;
  margin: 0 16px 0 12px;
}

.Header > span.divider {
  position: absolute;
  left: 74px;
  border-right: 1px solid var(--dark4);
  height: 60px;
}

.Header .header-icon {
  margin-left: 10px;
}

.Header .edit-button {
  margin: 0 0 0 10px;
  padding: 3px 0 0 0;
  width: 34px;
  height: 34px;
}

.Header .sign-out-button {
  margin: 0 10px;
  padding: 3px 0 0 0;
  width: 34px;
  height: 34px;
}
