.Header {
  min-height: 60px;
  width: inherit;
  background: #999;
  display: flex;
  align-items: center;
}

.Header h1 {
  margin: 0 10px;
}

.Header .logo-img {
  height: 40px;
}

.Header .sign-out-button {
  margin: 0 10px;
  padding: 3px 0 0 0;
  width: 34px;
  height: 34px;
}
