.Header {
  min-height: 60px;
  border-bottom: 1px solid var(--dark4);
  background: var(--dark0);
  display: flex;
  align-items: center;
}

.Header h1 {
  margin: 0 10px;
}

.Header .logo-img {
  height: 40px;
}

.Header .header-icon {
  margin-left: 10px;
}

.Header .sign-out-button {
  margin: 0 10px 0 15px;
  padding: 3px 0 0 0;
  width: 34px;
  height: 34px;
}
