.Notes {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.Notes h1 {
  width: fit-content;
  margin: 0 auto 10px auto;
  border-bottom: 1px solid white;
}

.Notes textarea {
  flex-grow: 1;
  margin: 0 20px 20px 20px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  background: #36393f;
  color: #ddd;
}
