.Notes {
  background: #ccc;
  height: 50%;
  width: 276px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.Notes h1 {
  margin: 10px 0 0 0;
}

.Notes textarea {
  flex-grow: 1;
  margin: 10px;
}
