.Page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: fit-content;
  min-width: 100%;
}

.Page .page-content {
  min-height: 0;
  display: flex;
  flex-grow: 1;
}

.Page .select-widget {
  min-width: 276px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Page .widget-header {
  min-height: 60px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page .widget-header > button {
  padding: 0 2px;
  margin: 0 5px;
}

.Page .widget-header > button > svg {
  position: relative;
  top: 1px;
}

.Page .widget {
  background: #bbb;
  flex-grow: 1;
  overflow: auto;
}

@media (max-width: 991px) {
  .Page {
    min-height: 100%;
  }

  .Page .page-content {
    flex-direction: column;
  }

  .Page .select-widget {
    width: 100%;
  }

  .Chat {
    width: 100%;
  }
}
