.Image {
  background: #efefef;
  height: 100%;
  min-width: 300px;
  text-align: center;
  overflow: auto;
}

.Image h1 {
  margin: 10px 0 0 0;
}

.Image img {
  max-width: calc(100% - 20px);
  margin: 10px 0;
}
