.Image {
  background: #efefef;
  height: 100%;
  width: 276px;
  min-width: 276px;
  text-align: center;
  overflow: auto;
}

.Image h1 {
  margin: 10px 0 0 0;
}

.Image form {
  margin: 10px 10px 0 10px;
  text-align: center;
}

.Image form input {
  width: 200px;
  background: #bbb;
  padding: 5px;
  border-radius: 2px;
  display: block;
  margin: 0 auto 10px auto;
}

.Image img {
  max-width: calc(100% - 20px);
  margin-top: 10px;
}

.Image .download-button {
  margin: 10px 0;
}
