.Auth {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
}

.Auth .center-box {
  background: #282a2e;
  border-radius: 5px;
  padding: 20px 40px;
  box-shadow: 0 0 3px #333;
  text-align: center;
}

.Auth img {
  height: 60px;
  margin: -5px 0;
}

.Auth h1 {
  margin: 0;
}

.Auth hr {
  margin: 5px 0 10px 0;
}

.Auth h2 {
  margin: 0 0 10px 0;
}

.Auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Auth form input {
  display: block;
  border: 0;
  padding: 2px 3px;
  border-radius: 3px;
  outline: none;
  background: #36393f;
  color: #ddd;
}

.Auth label {
  margin-top: 5px;
  font-size: 12px;
}

.Auth label:first-of-type {
  margin-top: 0;
}

.Auth form button {
  margin-top: 10px;
  padding: 5px 7px;
  background: #2196f3;
  color: #202225;
}

.Auth form button:hover {
  background: #2176ff;
}

.Auth .error-text {
  margin: 10px 0 0 0;
}

.Auth .bottom-hr {
  margin: 15px 0;
}
