.Auth {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray0);
}

.Auth h2 {
  margin: 0 0 10px 0;
}

.Auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Auth form input {
  display: block;
  border: 1px solid var(--dark0);
  padding: 2px 3px;
  border-radius: 3px;
  outline: none;
  background: var(--dark3);
  color: var(--gray0);
}

.Auth label {
  margin-top: 5px;
  font-size: 12px;
}

.Auth label:first-of-type {
  margin-top: 0;
}

.Auth form button {
  margin-top: 10px;
  padding: 5px 7px;
  border-radius: 3px;
  background: var(--blue0);
  color: var(--dark0);
}

.Auth form button:hover {
  background: var(--blue1);
}

.Auth .error-text {
  margin: 10px 0 0 0;
}

.Auth .bottom-hr {
  margin: 15px 0;
}
