.Goals {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.Goals > h1 {
  width: fit-content;
  margin: 10px auto;
  border-bottom: 1px solid white;
}

.Goals form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Goals label {
  display: block;
  font-size: 12px;
  margin: 5px 0 0 0;
}

.Goals input {
  width: 200px;
  border: 0;
  padding: 2px 3px;
  border-radius: 3px;
  outline: none;
  background: var(--dark3);
  color: var(--gray0);
}

.Goals input:first-of-type {
  padding: 4px 3px;
}

.Goals .submit-button {
  display: block;
  margin: 10px auto 0 auto;
  border-radius: 5px;
  padding: 3px 3px 0 3px;
}
