.Todos {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.Todos > h1 {
  width: fit-content;
  margin: 0 auto 10px auto;
  border-bottom: 1px solid white;
}

.Todos form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Todos label {
  font-size: 12px;
  margin: 5px 0 0 0;
}

.Todos input {
  width: 200px;
  border: 0;
  padding: 4px 3px;
  border-radius: 3px;
  outline: none;
  background: #36393f;
  color: #ddd;
}

.Todos .submit-button {
  display: block;
  margin: 10px 0 0 0;
  padding: 3px 3px 0 3px;
  border-radius: 5px;
}
